body {

	
	#characters-list {
		background-color: red;
		position: absolute;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		-webkit-transition: right 1s; 
		transition: right 1s;
		z-index: 100;

		a {
			display: inline-block;
			text-align:center;
		}

		img {
			width: 350px;
			height: auto;
		}
	}


	.list-opened {
		right: 0 !important;
		-webkit-transition: right 1s; 
		transition: right 1s;
	}

	#open-list {
		position: fixed;
		top: 40px;
		right: 40px;
		z-index: 101;
	}

	#character-info {
		background-color:$yellow;
		width: 100%;
		position:fixed;
		bottom:55px;
		height: 100px;
		padding-top: 2%;
		z-index: 10;
		font-size: 1.250rem;

		div {
			position: relative;
			display: inline-block;
			width: 20%;
			font-family: $langdon;
			color: $dark-grey;
			text-transform: uppercase;
			text-align: center;

			span {
				font-size: 1.750rem;
			}

		}

		#character-name {
			text-align: right;
			font-size: 1.750rem;
			border-right: 3px solid $dark-grey;
			padding-right:20px;
		}

	}
	

}