body {

	#characters-module {
		background-image: url("../img/characters-bg.jpg");
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-position:center; 
		background-color:#fff;
		height: 100%;

		h1 {
			color:#fff;
		}
	}

	#left-wrapper {
		width: 100%;
		position:relative;

		.graph-wrapper {
			width: 100%;
			height: 70%;
		}

		#character-info {
			background-color: rgba(255,255,255,0.3);
			width: 100%;
			position:fixed;
			bottom:55px;
			height: 100px;
			padding-top: 2%;
			z-index: 10;
			font-size: 1.250rem;

			div {
				position: relative;
				display: inline-block;
				width: 32%;
				font-family: $langdon;
				color: $dark-grey;
				text-transform: uppercase;
				text-align: center;

				span {
					font-size: 1.750rem;
				}

			}
		}

		#character-name-wrapper {
			position: absolute;
			right: 0;
    		left: 0;
    		bottom:0;
    		text-align: center;

    		span {
				text-align: center;
				background-color: orange;
				padding: 10px 20px;
				border: red 2px solid;
			}
		}

	}

	
	#characters-list {
		position: absolute;
		top: 70px;
		right: -100%;
		width: 100%;
		height: 100%;
		-webkit-transition: right 1s; 
		transition: right 1s;
		z-index: 100;
		padding-bottom: 50px;
		font-family: $museo;
		text-transform: uppercase;

		h2 {
			margin: 20px 0 10px 20px;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 1.25rem;
		}

		nav {
			width: 25%;
			
			ul {
			 margin: 0;
			 padding: 0;
			 list-style-type: none;

				li {
				 	display: inline-block;
				 	width: 50%;

					a {
						display: block; 
						color: #555555;
						text-decoration: none;
						text-align: center;
						line-height: 3.125em;
					}

					a:hover {
						background-color: #f7f7f7;
						color: $blue;
					} 			  

				 }

			}

		}

		a {
			display: inline-block;
			text-align: center;
		}

		img {
			width: 100%;
			height: auto;
			border-radius: 150px;
			border: 3px solid #fff;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
			box-shadow: 1px 1px 12px #555;
		}

		#display-relatives, #display-character-list {
			display: block;
			overflow-y: auto;
			/*height: 100%;*/
			width: 80%;
			margin:0 auto;
			padding-bottom: 20px;
			background-color: #fff;

			a{
				display: inline-block;
				position:relative;
				width:20%;
				color: #666666;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

				span {
					width: 100%;
					display: block;
					text-align: center;
					background-color: rgba(255,255,255,0.6);
				}

			}

			
		}

		#display-character-list {
			height: 60%;
			padding-bottom:0;	
		}
	}

	#open-list {
		position:fixed;
		right: 50px;
		top: 50px;
		z-index: 1000;
	}


	.list-opened {
		right: 0 !important;
		-webkit-transition: right 1s; 
		transition: right 1s;
	}

	
	

}