#facts{	
	background-image: url("../img/facts/background_facts.png"); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%;
	height:100%;
	font-family: $langdon;

	h1{
		width: 13%;
		padding: 3px 0px 7px 0px;
		color: #464646;
		top: 5px;
		margin-bottom: 66px;
		position: relative;
		border-radius: 3px;
		background-color: #FBFBFB;
		text-align: center;
		margin: 0 auto;
	}

	#diagram {
	  font-family: $langdon;
	  width: 40%;
	  height: 75%;
	  margin-left: 8%;
	  margin-top: 3%;
	  float: left;
	  position: relative;

	  .contenuDiagram{
	  	margin-left: -100px;
	  }

	  svg g .labels {
	  	color:rgba(0,255,255,0.8);
	  }

	  path.slice{
	  	
	  	&:hover{
	  		fill:white !important;
	  		fill-opacity:0.5 !important;
	  	}
	  }

	  .poulet{
	  	fill:black;
	  }


	}

	#menuRight{
		width:28%;
		margin-left: 50%;
		font-family: $langdon;
		font-size: 2em;
		text-transform: uppercase;
		position:relative;
		color:#464646;
		margin-top: 2%;

		#nav{
			background-color:#FBFBFB;
			border-radius: 3px;
			text-align: center;
			height:52px;
			position:relative;

		}

		.title{
			text-align: center;
			top:6px;
			font-size: 0.7em;
			position:relative;


		}

		.direction {
			cursor: pointer;
			padding-left:28px;
			padding-right:28px;
			padding-top:10px;
			padding-bottom:10px;

		}

		#next{
			border-left:1px solid #6d6e76;
			float: right;

		}

		#prec{
			border-right:1px solid #464646;
			float: left;
		}

		#picture img {
			width:100%;
			margin-top: 25px;
		}

		#total {
			width:100%;
			background-color:#FBFBFB;
			border-radius: 3px;
			text-align: right;
			padding-bottom:15px;
			padding-top:15px;
			padding-right: 15px;
			margin-top: 25px;

		}
	}

	#seasons{
		background-color: rgba(255, 255, 255, 0.6);
		text-transform: uppercase;
		width: 100%;
		position: fixed;
		bottom: 8%;
		height: 19%;
		z-index: 10;
		text-align: center;
		margin:0 auto;	
		color:#464646;

		#season{
			display: block;
			position:absolute;
			font-size: 1.5em;
			padding-top: 18px;
			padding-left: 2%;
			}

			#contentUl{
				width:100%;
				height:100%;
				margin-left: 3%;
				
			}


			ul {
				list-style: none;
				float: left;
				position:relative;
				width: 18%;

				
				li {
					margin-top: 10px;
					position:relative;
				}
				// .ronds{
				// 		width:10px;
				// 		height:10px;
				// 		background-color: black;
				// 		position:relative;
				// 	}
			}


		}

	// path.slice{
	// 	stroke-width:8px;
	// }

	// polyline{
	// 	opacity: 0.3;
	// 	stroke: black;
	// 	stroke-width: 2px;
	// 	fill: none;
	// }

}