@font-face {
    font-family: 'Simpsonfont';
    src: url('fonts/simpsonfont-webfont.eot');
    src: url('fonts/simpsonfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/simpsonfont-webfont.woff') format('woff'),
         url('fonts/simpsonfont-webfont.ttf') format('truetype'),
         url('fonts/simpsonfont-webfont.svg#simpsonfontsimpsonfont') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akbar';
    src: url('fonts/akbar-webfont.eot');
    src: url('fonts/akbar-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/akbar-webfont.woff') format('woff'),
         url('fonts/akbar-webfont.ttf') format('truetype'),
         url('fonts/akbar-webfont.svg#akbar_plain') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Langdon';
    src: url('fonts/langdon.eot');
    src: url('fonts/langdon.eot') format('embedded-opentype'),
         url('fonts/langdon.woff') format('woff'),
         url('fonts/langdon.ttf') format('truetype'),
         url('fonts/langdon.svg#LangdonRegular') format('svg');
}

@font-face {
    font-family: 'MuseoSlab700';
    src: url('fonts/museo_slab_700.eot');
    src: url('fonts/museo_slab_700.eot') format('embedded-opentype'),
         url('fonts/museo_slab_700.woff') format('woff'),
         url('fonts/museo_slab_700.ttf') format('truetype'),
         url('fonts/museo_slab_700.svg#MuseoSlab700') format('svg');
}

@font-face {
    font-family: 'Museo500';
    src: url('fonts/museo500-regular.eot');
    src: url('fonts/museo500-regular.eot') format('embedded-opentype'),
         url('fonts/museo500-regular.woff') format('woff'),
         url('fonts/museo500-regular.ttf') format('truetype'),
         url('fonts/museo500-regular.svg#Museo500') format('svg');
}