body {

	
	#home {
		text-align: center;
		margin: 0 auto;
		background-color: $yellow;
		height: 100%;


		#chargement {
			font-size: 10px;
			text-align: center;
			margin: 0 auto;
			right: 41%;
			width: 62%;
			top: 60%;
		}
		
		#chargement-infos {
			text-align: right;
			white-space: nowrap;
			display: block;
			border-bottom: 4px solid #000;
			width: 0%;
		}
		
		#container {
			visibility: hidden;

			a {
				color: #000;
			}
		}

		
		h1 {
			font-family: $simpsons;
			padding-top: 4%;
			margin-bottom: 3%;
			text-transform: none;
			font-size: 2.75em;
		}

		> img {
			text-align: center;
			margin: 0 auto;
			height: 50%;
			margin-bottom: 4%;
		}

		span {
			display: block;
			margin-bottom: 20px;
			font-family: $bodytext;
			text-transform: uppercase;
			font-size: 140%;
		}

		#enter img {
			width: 5%;
		}
	}


}