body {

	
	#home {
		text-align: center;
		margin: 0 auto;
		background-color: $yellow;
		height: 100%;


		#chargement {
			font-size: 10px;
			text-align: center;
			margin: 0 auto;
			right: 41%;
			width: 62%;
			top: 60%;
		}
		
		#chargement-infos {
			text-align: right;
			white-space: nowrap;
			display: block;
			border-bottom: 4px solid #000;
			width: 0%;
		}
		
		#container {
			visibility: hidden;

			a {
				color: #000;
			}
		}

		
		h1 {
			font-family: $simpsons;
		}

		img {
			text-align: center;
			margin: 0 auto;
			width: 25%;
		}

		p {
			font-size: 140%;
			top: 60%;
		}

		#enter img {
			width: 9%;
		}
	}


}