body {
	
	button:focus {
		outline:0 !important;
	}

	#audience-module{
		height: 100%;
		width: 100%;
		background-color: $purplee;
		
		svg{
			margin-left: 20%;
			margin-top: 4%;
			//width: 60%;
		}
	
		.axis path, .axis line {
		    fill: none;
		    stroke: white;
		    stroke-width:2;
		    shape-rendering: crispEdges;
	    }
	
		.axis text {
		    font-family: Simpsonfont;
		    font-size: 11px;
		    fill: white;
		}	
		
		.xAxis line{
		display: none;} 
		
		#sidebar{
			color: white;
			border: 1px solid black;
			height: 100%;
			width: 20%;
			z-index: 1000;
			float: right;
			
			#epInSeason, #seasonYear{
				display: inline;
				//float: left;
			}
			
			button{
				color: white;
				font-family: $langdon;
				text-transform: uppercase;
				background-color: #2a4a7c;
				height: 120px;
				width: 120px;
				border-radius: 100px;
				border: 0;
				font-size: 18px;
				-webkit-transform: rotate(0deg);
				-webkit-transition: -webkit-transform, 0.2s;										
			}
			button.selected
				{			
				-webkit-transform: rotate(-30deg);
				-webkit-transition: -webkit-transform, 0.5s;
				//background: blue;
				}
			h2{
				text-align: center;
			}
		}

		#topsflops {

			ol {
				margin-top: 0;
			}
			
		}
	
	}
}