body {

	
	#sections-menu {
		background-color: $yellow;
		height: 100%;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			height: 100%;

			li {
			 	display: block;
			 	height: 34%;
			 	position: relative;
			 	-webkit-background-size:  100% !important;
					-moz-background-size:  100% !important; 
					-o-background-size:  100% !important; 
					background-size: 100% !important;
			 	-webkit-transition: all 0.5s ease; 
						transition: all 0.5s ease; 

				&:hover {
					-webkit-background-size:  105% !important;
					-moz-background-size:  105% !important; 
					-o-background-size:  105% !important; 
					background-size: 105% !important;
				}  


				a {
					display: block;
					font-family: $simpsons;
					float: left;   
					width: 100%;
					height: 100%;
					padding-top: 7%;
					font-size: 2em;
					color:#000;
					text-align: center; 

					&:hover {
						background-color: rgba(255,255,255,0.2);
					} 
				}

				&:nth-child(1) {
					background: url("../img/menu-reviews-bg.jpg") no-repeat center;
					background-color: $purplee;
				}

				&:nth-child(2) {
					background: url("../img/menu-characters-bg.jpg") no-repeat center;
					background-color: $blue;
				}

				&:nth-child(3) {
					background: url("../img/menu-facts-bg.jpg") no-repeat center;
					background-color: $pink;
				}

			}
		}
	}


}