@font-face {
  font-family: 'Simpsonfont';
  src: url("fonts/simpsonfont-webfont.eot");
  src: url("fonts/simpsonfont-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/simpsonfont-webfont.woff") format("woff"), url("fonts/simpsonfont-webfont.ttf") format("truetype"), url("fonts/simpsonfont-webfont.svg#simpsonfontsimpsonfont") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'akbar';
  src: url("fonts/akbar-webfont.eot");
  src: url("fonts/akbar-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/akbar-webfont.woff") format("woff"), url("fonts/akbar-webfont.ttf") format("truetype"), url("fonts/akbar-webfont.svg#akbar_plain") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Langdon';
  src: url("fonts/langdon.eot");
  src: url("fonts/langdon.eot") format("embedded-opentype"), url("fonts/langdon.woff") format("woff"), url("fonts/langdon.ttf") format("truetype"), url("fonts/langdon.svg#LangdonRegular") format("svg"); }
@font-face {
  font-family: 'MuseoSlab700';
  src: url("fonts/museo_slab_700.eot");
  src: url("fonts/museo_slab_700.eot") format("embedded-opentype"), url("fonts/museo_slab_700.woff") format("woff"), url("fonts/museo_slab_700.ttf") format("truetype"), url("fonts/museo_slab_700.svg#MuseoSlab700") format("svg"); }
@font-face {
  font-family: 'Museo500';
  src: url("fonts/museo500-regular.eot");
  src: url("fonts/museo500-regular.eot") format("embedded-opentype"), url("fonts/museo500-regular.woff") format("woff"), url("fonts/museo500-regular.ttf") format("truetype"), url("fonts/museo500-regular.svg#Museo500") format("svg"); }
/**
 ** fonts **/
/**
 ** colors **/
body #home {
  text-align: center;
  margin: 0 auto;
  background-color: #fee13e;
  height: 100%; }
  body #home #chargement {
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    right: 41%;
    width: 62%;
    top: 60%; }
  body #home #chargement-infos {
    text-align: right;
    white-space: nowrap;
    display: block;
    border-bottom: 4px solid #000;
    width: 0%; }
  body #home #container {
    visibility: hidden; }
    body #home #container a {
      color: #000; }
  body #home h1 {
    font-family: "Simpsonfont";
    padding-top: 4%;
    margin-bottom: 3%;
    text-transform: none;
    font-size: 2.75em; }
  body #home > img {
    text-align: center;
    margin: 0 auto;
    height: 50%;
    margin-bottom: 4%; }
  body #home span {
    display: block;
    margin-bottom: 20px;
    font-family: "Museo500";
    text-transform: uppercase;
    font-size: 140%; }
  body #home #enter img {
    width: 5%; }

body #sections-menu {
  background-color: #fee13e;
  height: 100%; }
  body #sections-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%; }
    body #sections-menu ul li {
      display: block;
      height: 34%;
      position: relative;
      -webkit-background-size: 100% !important;
      -moz-background-size: 100% !important;
      -o-background-size: 100% !important;
      background-size: 100% !important;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      body #sections-menu ul li:hover {
        -webkit-background-size: 105% !important;
        -moz-background-size: 105% !important;
        -o-background-size: 105% !important;
        background-size: 105% !important; }
      body #sections-menu ul li a {
        display: block;
        font-family: "Simpsonfont";
        float: left;
        width: 100%;
        height: 100%;
        padding-top: 7%;
        font-size: 2em;
        color: #000;
        text-align: center; }
        body #sections-menu ul li a:hover {
          background-color: rgba(255, 255, 255, 0.2); }
      body #sections-menu ul li:nth-child(1) {
        background: url("../img/menu-reviews-bg.jpg") no-repeat center;
        background-color: #624b83; }
      body #sections-menu ul li:nth-child(2) {
        background: url("../img/menu-characters-bg.jpg") no-repeat center;
        background-color: #75c0e5; }
      body #sections-menu ul li:nth-child(3) {
        background: url("../img/menu-facts-bg.jpg") no-repeat center;
        background-color: #fcb2bf; }

body button:focus {
  outline: 0 !important; }
body #audience-module {
  		/*
  #sidebar{
  			color: white;
  			border: 1px solid black;
  			height: 100%;
  			width: 20%;
  			z-index: 1000;
  			float: right;
  			margin: auto;
  			
  			#epInSeason, #seasonYear{
  				display: inline;
  				//float: left;
  			}
  			button{
  				background: transparent;
  				border: 0;
  			}
  			button.round{
  				height: 120px;
  				width: 120px;
  				border-radius: 120px;
  				background-image:url(../img/button.svg);
  				background-repeat: no-repeat;
  				color: white;
  				font-family: $langdon;
  				text-transform: uppercase;
  				font-size: 20px;
  				line-height: 10px;
  				-webkit-transform: rotate(0);
  				-webkit-transition: -webkit-transform, 0.5s;
  			}
  			#ratingsButton.selected{
  				-webkit-transform: rotate(-30deg);
  				-webkit-transition: -webkit-transform, 0.5s;
  			}
  			
  			#epInSeason{
  				font-family: $langdon;
  				color: red;
  			}
  			#prevseason,#nextseason,#clean{
  				margin: 10px;
  				height: 28px;
  				width: 36px;
  				color: transparent;
  			}
  			#prevseason{
  				background-image:url(../img/prev.svg);
  				background-repeat: no-repeat;
  			}
  			#prevseason:hover{
  				background-image:url(../img/prev_hover.svg);
  				background-repeat: no-repeat;
  			}
  			#clean{
  				background-image:url(../img/clean.svg);
  				background-repeat: no-repeat;
  			}
  			
  			#nextseason{
  				background-image:url(../img/next.svg);
  				background-repeat: no-repeat;
  			}
  			#nextseason:hover{
  				background-image:url(../img/next_hover.svg);
  				background-repeat: no-repeat;
  			}
  			h2{
  				text-align: center;
  			}
  			
  			
  		}
  */ }
  body #audience-module #mainTitle {
    font-family: "Langdon";
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    text-align: center; }
  body #audience-module .axis path, body #audience-module .axis line {
    fill: none;
    stroke: white;
    stroke-width: 2;
    shape-rendering: crispEdges; }
  body #audience-module .yrAxis path, body #audience-module .yrAxis line {
    stroke: #75c0e5; }
  body #audience-module .axis text {
    font-family: Simpsonfont;
    font-size: 11px;
    fill: white; }
  body #audience-module .ylAxis text {
    fill: #e57575; }
  body #audience-module .xAxis line {
    display: none; }
  body #audience-module .pointers {
    cursor: pointer; }

body #characters-module {
  background: url("../img/characters-bg.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fff;
  height: 100%; }
  body #characters-module h1 {
    color: #fff;
    text-shadow: 2px 1px 5px #7fb9db; }
body #left-wrapper {
  width: 100%;
  height: 100%;
  position: relative; }
  body #left-wrapper .graph-wrapper {
    width: 100%;
    height: 70%; }
  body #left-wrapper #character-info {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    position: fixed;
    bottom: -55px;
    height: 100px;
    padding-top: 2%;
    z-index: 10;
    font-size: 1.250rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    body #left-wrapper #character-info div {
      position: relative;
      display: inline-block;
      float: left;
      width: 32%;
      font-family: "Langdon";
      color: #464646;
      text-transform: uppercase;
      text-align: center; }
      body #left-wrapper #character-info div span {
        font-size: 1.750rem; }
  body #left-wrapper .character-info-open {
    bottom: 55px !important; }
  body #left-wrapper #character-name-wrapper {
    position: absolute;
    display: none;
    right: 0;
    left: 0;
    bottom: 30%;
    text-align: center;
    font-family: "MuseoSlab700";
    color: #73bae5; }
    body #left-wrapper #character-name-wrapper span {
      text-align: center;
      color: #003e63;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 8px 15px;
      box-shadow: 2px 1px 5px #84bcdc; }
body #characters-list {
  position: absolute;
  top: 70px;
  right: -100%;
  width: 80%;
  height: 78%;
  -webkit-transition: right 1s;
  transition: right 1s;
  z-index: 100;
  margin: 0 10% 150px 10%;
  font-family: "MuseoSlab700";
  text-transform: uppercase;
  background-color: #fff;
  overflow-y: auto;
  webkit-border-radius: 10px;
  border-radius: 10px; }
  body #characters-list h2 {
    margin: 0 0 10px 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.25rem; }
  body #characters-list nav {
    width: 25%; }
    body #characters-list nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      body #characters-list nav ul li {
        display: inline-block;
        width: 50%; }
        body #characters-list nav ul li a {
          display: block;
          color: #555555;
          text-align: center;
          line-height: 3.125em; }
        body #characters-list nav ul li a:hover {
          background-color: #f7f7f7;
          color: #75c0e5; }
  body #characters-list a {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    webkit-border-radius: 10px;
    border-radius: 10px; }
    body #characters-list a:hover {
      background-color: #f2f6f9; }
  body #characters-list img {
    width: 100%;
    height: auto;
    border-radius: 150px;
    border: 3px solid #fff;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 1px 1px 12px #555; }
  body #characters-list #display-relatives, body #characters-list #display-character-list {
    display: block;
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 20px; }
    body #characters-list #display-relatives a, body #characters-list #display-character-list a {
      display: inline-block;
      position: relative;
      word-wrap: break-word;
      overflow-wrap: break-word;
      width: 17%;
      height: 215px;
      color: #666666;
      float: left; }
      body #characters-list #display-relatives a span, body #characters-list #display-character-list a span {
        width: 100%;
        display: block;
        text-align: center; }
  body #characters-list #display-character-list {
    margin-bottom: 0;
    border-radius: 0 0 10px 10px;
    webkit-border-radius: 0 0 10px 10px; }
body #open-list {
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 1000;
  font-family: "Langdon";
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 15px;
  box-shadow: 2px 1px 5px #84bcdc;
  text-shadow: 2px 1px 5px #84bcdc; }
  body #open-list:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.4); }
body .list-opened {
  right: 0 !important;
  -webkit-transition: right 1s;
  transition: right 1s; }

#facts {
  background-image: url("../img/facts/background_facts.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Langdon"; }
  #facts h1 {
    width: 13%;
    padding: 3px 0px 7px 0px;
    color: #464646;
    top: 5px;
    margin-bottom: 66px;
    position: relative;
    border-radius: 3px;
    background-color: #FBFBFB;
    text-align: center;
    margin: 0 auto; }
  #facts #diagram {
    font-family: "Langdon";
    width: 40%;
    height: 75%;
    margin-left: 8%;
    margin-top: 1%;
    float: left;
    position: relative; }
    #facts #diagram .contenuDiagram {
      margin-left: -100px; }
    #facts #diagram svg g .labels {
      color: rgba(0, 255, 255, 0.8); }
  #facts #menuRight {
    width: 28%;
    height: 100%;
    margin-left: 50%;
    font-family: "Langdon";
    font-size: 2em;
    text-transform: uppercase;
    position: relative;
    color: #464646;
    margin-top: 2%; }
    #facts #menuRight #nav {
      background-color: #FBFBFB;
      border-radius: 3px;
      text-align: center;
      height: 52px;
      position: relative; }
    #facts #menuRight .title {
      text-align: center;
      top: 6px;
      font-size: 0.6em;
      position: relative; }
    #facts #menuRight .direction {
      cursor: pointer;
      padding-left: 28px;
      padding-right: 28px;
      padding-top: 10px;
      padding-bottom: 10px; }
    #facts #menuRight #next {
      border-left: 1px solid #6d6e76;
      float: right; }
    #facts #menuRight #prec {
      border-right: 1px solid #464646;
      float: left; }
    #facts #menuRight #picture {
      background-color: white;
      margin-top: 25px;
      height: 30%;
      overflow: hidden; }
    #facts #menuRight #picture img {
      width: 100%; }
    #facts #menuRight #total {
      width: 100%;
      background-color: #FBFBFB;
      border-radius: 3px;
      text-align: right;
      padding-bottom: 15px;
      padding-top: 15px;
      padding-right: 15px;
      margin-top: 25px; }
    #facts #menuRight #totalNumber {
      position: absolute;
      text-align: left;
      margin-left: -60%; }
  #facts .seasons {
    background-color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    bottom: -8%;
    height: 19%;
    z-index: 10;
    text-align: center;
    margin: 0 auto;
    color: #464646;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    #facts .seasons #contentSeason {
      top: 30%;
      text-align: center;
      margin: 0 auto;
      position: relative;
      font-size: 2em; }
    #facts .seasons #introSeason {
      top: 30%;
      text-align: center;
      margin: 0 auto;
      position: relative;
      font-size: 2em; }
  #facts .seasons-open {
    bottom: 5% !important; }

body #contribute {
  color: #2d2d2d;
  overflow-y: auto;
  height: 100%;
  padding: 0 15% 70px 15%;
  background-color: #fee13e;
  background: url("../img/bg-contribute.png") no-repeat 80% 105% #fee13e;
  line-height: 1.750em; }
  body #contribute h2 {
    font-size: 1.5em;
    font-family: "Langdon";
    text-transform: uppercase; }
  body #contribute ul {
    list-style-type: none;
    list-style-image: url("../img/puce.png"); }
  body #contribute .form-link {
    display: block;
    width: 180px;
    text-align: center;
    margin: 30px auto 0 auto;
    padding: 10px 0 10px 0;
    border: 3px solid #75c0e5;
    border-radius: 5px;
    color: #000;
    font-family: "Langdon";
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    body #contribute .form-link:hover {
      background-color: #75c0e5;
      color: #fff; }
  body #contribute div > div {
    width: 60%; }
    body #contribute div > div span {
      font-family: "Langdon";
      text-transform: uppercase;
      font-size: 1.250em; }

body #about {
  overflow-y: auto;
  height: 100%;
  padding: 0 15% 70px 15%;
  background-color: #fee13e;
  background: url("../img/about-bg.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  line-height: 1.750em; }
  body #about > div {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 70px;
    margin-top: 20px; }
  body #about h2 {
    font-family: "Langdon";
    text-transform: uppercase;
    margin-top: 50px; }
  body #about a {
    text-decoration: underline;
    color: #000; }
    body #about a:hover {
      text-decoration: none; }
  body #about #team {
    margin: 0 auto 20px auto;
    width: 95%;
    text-align: center; }
    body #about #team a {
      display: inline-block;
      width: 30%;
      padding: 10px;
      text-align: center;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-family: "Langdon";
      font-size: 1.250em;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
      line-height: 1rem; }
      body #about #team a img {
        width: 90%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      body #about #team a:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
      body #about #team a span {
        display: block;
        color: #75c0e5;
        font-size: 1rem; }
  body #about .contact-link {
    display: block;
    width: 180px;
    text-align: center;
    margin: 30px auto 0 auto;
    padding: 10px 0 10px 0;
    border: 3px solid #75c0e5;
    border-radius: 5px;
    color: #000;
    font-family: "Langdon";
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    body #about .contact-link:hover {
      background-color: #75c0e5;
      color: #fff; }

html {
  font-size: 1em;
  height: 100%;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.page {
  height: 100%; }

body {
  font-family: "Museo500";
  overflow: hidden;
  position: relative; }
  body a {
    text-decoration: none; }
  body #menu {
    padding: 0;
    margin: 0 auto;
    font-family: "Langdon";
    font-size: 1.250em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f7f7f7;
    z-index: 1000; }
    body #menu nav {
      position: relative;
      height: 55px; }
      body #menu nav ul {
        margin-left: -7%;
        margin-bottom: 0;
        margin-top: 0;
        list-style-type: none;
        height: 100%; }
        body #menu nav ul li {
          display: inline-block;
          height: 100%;
          width: 170px; }
          body #menu nav ul li #homeButton img {
            margin: 0 auto;
            padding-bottom: 6px; }
          body #menu nav ul li:nth-child(3) a {
            padding-top: 8px; }
          body #menu nav ul li a {
            display: block;
            float: left;
            width: 100%;
            height: 100%;
            padding-top: 20px;
            color: #464646;
            text-align: center;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease; }
          body #menu nav ul li a:hover {
            background-color: #75c0e5;
            color: #fff; }
          body #menu nav ul li .selected {
            background-color: #75c0e5;
            color: #fff; }
          body #menu nav ul li img {
            margin-bottom: -12px;
            width: 42px; }
      body #menu nav ul + a {
        position: absolute;
        right: 30px;
        top: 8px; }
        body #menu nav ul + a svg {
          width: 40px;
          height: 40px; }
        body #menu nav ul + a:hover path {
          fill: #fee13e; }
  body .hidden {
    display: none; }
  body h1 {
    font-family: "Langdon";
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-weight: normal; }
