// import other css files -----------------------------------------------
@import "fonts";
@import "var";
@import "home";
@import "reviews";
@import "characters";

// General --------------------------------------------------------------
html {
  font-size: 1em;
  height: 100%;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: $bodytext;
  	background-color: $yellow;
	overflow-x:hidden;


	// Menu --------------------------------------------------------------

	#menu {
		padding: 0 ;
		margin: 0 auto;
		font-family: $langdon;
		font-size: 1.250em;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		position: absolute;
		bottom: 0;
		background-color: #f7f7f7;
		z-index: 1000;

		nav {
			
			ul {
			 margin: 0;
			 list-style-type:none;

				li {
				 	display: inline-block;


					 a {
						 display:block;
						 float:left;   
						 width:170px;
						 line-height:250%; 
						 color:#555555;
						 text-decoration:none;
						 text-align:center;
						 }



					 a:hover {
						 background-color:#f7f7f7;
						 color:$blue;
					 }  

					 .selected {
						 background-color:#f7f7f7;
						 color:$blue;
					 }	

					 img {
					 	width:25px;
					 }				  

				 }

			}

		}

	}

	.hidden {
		display:none;
	}

	// Fin menu ----------------------------------------------------------



	// Titles ------------------------------------------------------------

	h1 {
		font-family: $langdon;
		text-transform: uppercase;
		font-size: 2em;
		text-align: center;
	}

	// End titles --------------------------------------------------------


	

}


