/**
 ** fonts **/

$simpsons : 'Simpsonfont';
$akbar : 'akbar';
$langdon : 'Langdon';
$bodytext : 'Arial'; /* à remplacer par la vraie font du corps du texte quand on aura les maquettes */
$museo : 'MuseoSlab700';


/**
 ** colors **/

$yellow: #f7d100;
$dark-grey: #777; /* à remplacer par la vraie couleur du corps du texte quand on aura les maquettes */
$blue : #75c0e5;