/**
 ** fonts **/

$simpsons : 'Simpsonfont';
$akbar : 'akbar';
$langdon : 'Langdon';
$bodytext : 'Museo500'; 
$museo : 'MuseoSlab700';


/**
 ** colors **/

$yellow: #fee13e;
$dark-grey: #464646;
$blue : #75c0e5;
$purplee : #624b83;
$pink : #fcb2bf;
