<div id="about">

	<h1>About</h1>

	<h2>The project</h2>
	<p>This data-visualization project was made by a group of 6 french students at <a href="http://www.hetic.net" target="_blank">HETIC</a> (Paris) to give to The Simpsons' fans a look back to the 25 seasons of the series. Explore the episodes tops and flops, the appearances of the recurrent characters...</p>
	<p>We collected the data on different websites (fan sites, wikipedia, imdb etc…). There may be some mistakes in our data because we didt have the time to watch the whole 25 seasons and collect manually the data in 4 weeks. That's also why some data is missing, but <a href="#/contribute">you can help up</a> (please do !!!).</p>
	<p>We hope you like it, give us some feedback !</p>

	<h2>The team</h2>
	<div id="team">
		<a href="#"><img src="img/characters/Homer Simpson.svg" />Emmanuelle Misson</a>
		<a href="#"><img src="img/characters/Homer Simpson.svg" />Marion Livet</a>
		<a href="#"><img src="img/characters/Homer Simpson.svg" />Damien Lecolinet</a>
		<a href="#"><img src="img/characters/Homer Simpson.svg" />Robin Payot</a>
		<a href="#"><img src="img/characters/Homer Simpson.svg" />Damien Rantoanison</a>
		<a href="#"><img src="img/characters/Homer Simpson.svg" />Martin Debray</a>
	</div>

	<h2>Thanks</h2>
	Thanks a lot to all the fans that contributed to the different sources we had. Thanks to OJEODJ for answering to our answers on MACHINWIKI.

	<h2>Sources</h2>
	<ul>
		<li><a href="http://www.simpsonsarchive.com/">Simspsons Archive</a></li>
		<li><a href="http://www.simpsoncrazy.com/">Simpson Crazy</a></li>
		<li><a href="http://simpsons.wikia.com">Simpsons Wikia</a></li>
		<li><a href="http://www.imdb.com/title/tt0096697/?ref_=ttep_ep_tt">IMDB</a></li>

</div>