<div id="about">
	<div>

		<h1>About</h1>

		<h2>The project</h2>
		<p>This data-visualization project was made by a group of 6 french students at <a href="http://www.hetic.net" target="_blank">HETIC</a> (Paris) to give to The Simpsons' fans a look back to the 25 seasons of the series. Explore the episodes tops and flops, the appearances of the recurrent characters...</p>
		<p>We collected the data on different websites (fan sites, wikipedia, IMDB etc…). There may be some mistakes in our data because we didt have the time to watch the whole 25 seasons and collect manually the data in 4 weeks. That's also why some data is missing, but <a href="#/contribute">you can help up</a> (please do !!!).</p>
		<p>We hope you like it, give us some feedback !</p>

		<h2>The team</h2>
		<div id="team">
			<a href="https://twitter.com/sidnah" target="_blank"><img src="img/characters/Nelson Muntz.svg" />Emmanuelle<br /> Misson</a>
			<a href="http://marionlivet.com" target="_blank"><img src="img/characters/Marge Simpson.svg" />Marion<br /> Livet</a>
			<a href="https://www.linkedin.com/pub/damien-lecolinet/2a/291/a09" target="_blank"><img src="img/characters/Ned Flanders.svg" />Damien<br /> Lecolinet</a>
			<a href="https://twitter.com/RobinPayot" target="_blank"><img src="img/characters/Seymour Skinner.svg" />Robin<br /> Payot</a>
			<a href="#" target="_blank"><img src="img/characters/Homer Simpson.svg" />Damien<br /> Rantoanison</a>
			<a href="http://martindebray.com" target="_blank"><img src="img/characters/Otto Mann.svg" />Martin<br /> Debray</a>
		</div>

		<h2>Thanks</h2>
		Thanks a lot to all the fans that contributed to the different sources we had. Thanks to The Solar Dragon for answering to our answers on <a href="http://www.simpsonswiki.com/">WikiSimpsons</a>.

		<h2>Sources</h2>
		<ul>
			<li><a href="http://www.simpsonsarchive.com/" target="_blank">Simspsons Archive</a></li>
			<li><a href="http://www.simpsoncrazy.com/" target="_blank">Simpson Crazy</a></li>
			<li><a href="http://simpsons.wikia.com" target="_blank">Simpsons Wikia</a></li>
			<li><a href="http://www.imdb.com/title/tt0096697/?ref_=ttep_ep_tt" target="_blank">IMDB</a></li>
			<li><a href="http://www.simpsonswiki.com/" target="_blank">WikiSimpsons</a></li>
			<li><a href="http://www.simpsonspark.com/" target="_blank">Simpsons Park</a></li>
		</ul>

	</div>

</div>