<h1>Character appearances</h1>
<div id="character-name"></div>
<div id="characters-list">
    <nav>
        <ul>
            <li><a href="relatives">Relatives</a></li><!--
            --><li><a href="all-characters" id="open-list">All characters</a></li>
        </ul>
    </nav>
    <div id="display-relatives">

    </div>
    <div id="display-character-list">

    </div>
</div>
<!--<a href="characters-list" id="open-list">List</a>-->
<div id="character-info">
  <div id="character-catchphrase">Catchphrase<br><span></span></div>
  <div id="character-first-app">First appeared in<br><span></span></div>
  <div id="character-app-number">Appears in<br><span><span></span> episodes</span></div>
</div>