<div id="contribute">
	<h1>Dear Simpson fan, help us to get more data</h1>

	<div>

		<p>As you may have noticed, we collected a lot of data but we miss some. We actually made this data visualization in 4 weeks so we didn't find the time to watch all 551 episodes of the series. Even though the Simpsons' fanbase is very active on the internet and we found awesome fansites with great data, we still need to complete some seasons with facts. </p>
		<div>
			<h2>To help us, take your time and follow these steps :</h2>
			<ul>
				<li>Take a piece of paper and a pen (or anything else as long as you can take notes).</li>
				<li>Write down what you need to count during the episode : Homer says "d'oh!", Homer strangles Bart, Abe Simpson tells a rambling story, there's an episode of Itchy & Scratchy, Bart's prank calls, when we can see the church sign.</li>
				<li>Did you write the title of the episode btw? and its season and its number? ok, that's cool.
				<li>Now you're ready to watch (carefully) the episode.</li>
				<li>You can watch several episodes in a row if you want (actually, you can do whatever you want, who are we to tell you what to do?)</li>
				<li>Once you're done, fill the form with the data you collected</li>
			</ul>
			<span>We thank you so much for your support, we will be able to end this project thanks to you.</span>
		</div>

		<a class="form-link" href="https://docs.google.com/forms/d/1vvfaAxuYzmA_2TzD6u3BlOP_7BZTFHchPm6NDC5_DUA/viewform" target="_blank">Take me to the form !</a>

</div>
