<h1>Dear Simpson fan, help us to get more data</h1>

<div>

	<p>As you may have noticed, we collected a lot of data but we miss some. We actually made this data visualization in 4 weeks so we didn't find the time to watch all 550 episodes of the series. Even though the Simpsons' fanbase is very active on the internet and we found awesome fansites with great data, we still need to complete some seasons with facts. </p>
	<p>So if you are a simpson fan, if you're planning or if you'd looove to watched some episodes again, here what we need and how you can help us : 
		<ol>
			<li>Take a piece of paper and a pen (or anything else as long as you can take notes).</li>
			<li>Write down what you need to count during the episode : Homer says "d'oh!", Homer strangles Bart, Abe Simpson tells a rambling story, there's an episode of Itchy & Scratchy, Bart's prank call, we can see the church sign.</li>
			<li>Did you write the title of the episode btw? and it's season and its number? ok, that's cool.
			<li>Now you're ready to watch (carefully) the episode.</li>
			<li>You can wacth several episodes in a row if you want (actually, you can whatever you want, who are we to tell you what to do?)</li>
			<li>Once you're done, fill the form with the data you collected</li>
			<li>We thank you awesome person, we love you and we will complete this data visualization thanks to you !</li>
		</ol>
	</p>

	<a href="#">Take me to the form !</a>

<div>