<section id="facts">
<h1>Funny Facts</h1>

	<div id="diagram">

	</div>
	<div id="menuRight">
		<div id="nav">
			<span class="direction" id="prec"><img src="img/facts/fleche_left_facts.png" /></span>
			<span class="title">Homer said d'oh</span>
			<span class="direction" id="next"><img src="img/facts/fleche_right_facts.png" /></span>
		</div>
		<div id="picture"><img id="myPicture" src="img/facts/doh.png" /></div>
		<div id="total"><span id="totalNumber">TOTAL : </span><span id="number"></span> times</div>

	</div>

	<div class="seasons">
		<div id="introSeason">Select a slice</div>
		<div id="contentSeason"><span id="typeFacts">Homer said d'oh</span> : <span id="numberFacts">37</span> times in season <span id ="season">1</span>
		</div>
<!-- 		<div id="contentUl">
		<ul>
			<li>season 1<div class="ronds"> </div> </li>
			<li>season 2</li>
			<li>season 3</li>
		</ul>
		<ul>
			<li>season 4</li>
			<li>season 5</li>
			<li>season 6</li>
		</ul>
		<ul>
			<li>season 7</li>
			<li>season 8</li>
			<li>season 9</li>
		</ul>
		<ul>
			<li>season 10</li>
			<li>season 11</li>
			<li>season 12</li>
		</ul>
		<ul>
			<li>season 13</li>
			<li>season 14</li>
			<li>season 15</li>
		</ul>	

		</div>	 -->						
	</div>


</section>