<!-- // templates/home.html --> 
<section id="home">
<h1>The Simpsons Museum</h1>
	<img id="donuts" src="img/donut.svg" />
	<div id="chargement">Chargement...<span id="chargement-infos"></span></div>
	<div id="container">
		<a id="enter" href="">
			<span>Enter the Simpsons Museum</span>
			<img src="img/fleche_home.svg" />
		</a>
	</div>
</section>
<section id="sections-menu">
	<ul>
		<li><a href="#/audience">Viewers reviews</a></li><!--      
          --><li><a href="#/characters">Characters</a></li><!--
          --><li><a href="#/facts">Facts</a></li><!--
	--></ul>
</section>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
